body {
  background: #a9a7ec;
}
.jumbotron {
  background-color: #ffe6009a;
}
#about {
  background-color: #bdb76b;
}
#contact {
  background-color: #0099ff;
}
#gallery {
  background-color: #a9a7ec;
}
